@use "@/app/mixins" as mixins;

.searchPage {
    display: grid;  
    grid-template-columns: 2fr 1.4fr;

    @include mixins.mobile {
        grid-template-columns: 1fr;
        
        .results__container{
            grid-row: 2;
        }
    }
}
