@use "sass:color";

$variables-dark: (
    bg: #161616,
    bg-1: color.adjust(#161616, $lightness: 5%),
    bg-2: color.adjust(#161616, $lightness: 12%),

    color: #f7f7f7,
    color-1: color.adjust(#f7f7f7, $lightness: -10%),
    color-2: color.adjust(#f7f7f7, $lightness: -20%),
    color-3: color.adjust(#f7f7f7, $lightness: -30%),
    border-color: rgba(color.adjust(#f7f7f7, $lightness: -50%), 0.5),
    link-color: #4dafff,

    gradient-1:linear-gradient(to bottom right, #7b0afd 15%, #00fff0),
    gradient-2: linear-gradient(to bottom right, #00ef86, #008eb9),

    border-radius: 0.5rem,
    box-shadow: 2px 4px 4px rgb(0 0 0 / 25%),
    box-shadow-hover: 2px 4px 8px rgb(0 0 0 / 60%)
);

$variables-light: (
    bg: #fefefe,
    bg-1: color.adjust(white, $lightness: -2%),
    bg-2: color.adjust(white, $lightness: -3%),

    color: color.adjust(#000, $lightness: 4%),
    color-1: color.adjust(#000, $lightness: 10%),
    color-2: color.adjust(#000, $lightness: 20%),
    color-3: color.adjust(#000, $lightness: 25%),
    border-color: rgba(color.adjust(#000, $lightness: 50%), 0.3),
    link-color: #006ce3,

    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.08),
    box-shadow-hover: 2px 6px 14px rgba(0, 0, 0, 0.15)
);

:root {

    @each $key,
    $value in $variables-dark {
        --#{$key}: #{$value};
    }
}

html[data-theme="light"],
body[data-theme="light"] {

    @each $key,
    $value in $variables-light {
        --#{$key}: #{$value};
    }
}

@function Var($key) {
    @return var(--#{$key});
}