@use "@/app/mixins" as mixins;

.theme {
    padding: 0.3rem 0.8rem;
    border: 1px solid var(--border-color);
    border-radius: 0.3rem;
    box-shadow: var(--box-shadow);
    background: var(--bg);
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        transform: scale(1.03);
    }

    @include mixins.mobile {
        // display: none;
    }
}
