@use "@/app/mixins" as mixins;

.noResults{
    text-align: left;
    color: var(--color);

    h1{
        font-weight: normal;
        font-weight: normal;
        font-size: 1.1rem;
        margin: 2rem 0 1rem 0;

        @include mixins.mobile{
            font-size: 1rem;
        }
    }

    p{
        @include mixins.mobile{
            font-size: 0.95rem;
        }
    }

    ul{
        color: var(--color-2);
        font-size: 0.95rem;
        margin-top: 1rem;
        margin-left: 1rem;

        @include mixins.mobile{
            font-size: 0.8rem;
        }
    }

    
}
